header {
    position: fixed;
    background-image: linear-gradient(to right, #F29A0C, #EC830A);
    width: 100%;

}

@media (min-width: 999px) {

    .navMobile {
        display: none;
    }

    img{
        max-width: 600px;
    }

    .logos{
        display:flex;
        align-items: center;
    }

    .navPc {
        display: flex;
        align-items: center;
        padding: 20px 30px;
        box-shadow: 0 5px 15px rbga(0, 0, 0, 0.06);
        width: 100%;

        ul {
            right: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: end;

            li {
                list-style: none;
                padding: 0 20px;
                position: relative;

                a {
                    text-decoration: none;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: #fff;
                    transition: 0.3s ease-in-out;
                }

                a:hover {
                    color: black;
                    font-size: 1.6rem;
                }
            }

        }
    }
}

@media (max-width: 998px) {
    .navPc {
        display: none
    }

    .navMobile {
        position: relative;
        display: flex;
        padding: 20px 30px;
        align-items: center;
        justify-content: space-between;
        height: 4vh;
        list-style: none;
    }

    .menu {
        position: absolute;
        right: 0px;
        top: 8vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .icon {
        width: 35px;
        height: 35px;
    }
}